@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");


.navbar {
  display: flex;
  justify-content:end;
  align-items: center;
  padding: 10px 20px;
  padding-left: 20px;
}

.searchBox {
  flex: 1;
  max-width: 300px;
 

  input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease;
    font-size: 17px;
    font-family: "Inter";
 
    &:focus {
      border-color: #3b82f6;
    }
  }
}  

.iconsSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bellWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  color: #3b82f6;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: 60px;

  &:hover {
    transform: scale(1.1);
  }
}

.badge {
  position: absolute;
  top: -4px;
  right: 2px;
  width: 8px;
  height: 8px;
  background: #ef4444;
  border-radius: 50%;
  border: 2px solid #fff;
}

.userSection {
  display: flex;
  align-items: center;
}

.userImg {
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #e5e7eb;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .searchBox {
    width: 100%;
  }
}

