.navbar {
  display: flex;
  justify-content:end;
  align-items: center;
  padding: 10px 20px;
  padding-left: 20px;
}

.searchBox {
  flex: 1;
  max-width: 300px;
 

  input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.2s ease;

    &:focus {
      border-color: #3b82f6;
    }
  }
}

.iconsSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bellWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  color: #3b82f6;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-left: 30px;

  &:hover {
    transform: scale(1.1);
  }
}

.badge {
  position: absolute;
  top: -5px;
  right: -6px;
  background: #ef4444;
  color: white;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  padding: 2px 6px;
  line-height: 1;
  min-width: 16px;
  text-align: center;
}

.userSection {
  display: flex;
  align-items: center;
}

.userImg {
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #e5e7eb;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .searchBox {
    width: 100%;
  }
}

